
<div class="recipe-search-display">
	<% @recipes.each do |recipe| %>
	<div class="search-recipe-title">
		<%= link_to recipe.title, recipe_path(recipe), :class => 'recipe-search-title' %><br>
	</div>
	<div class="search-recipe-description">
		<%= recipe.description %>
	</div>
	<% end %>
</div>