---
http_interactions:
- request:
    method: get
    uri: http://api.yummly.com/v1/api/recipes?_app_id=4b0aee5d&_app_key=53ec12be3b85d0086a735dba82e215e2&q=lasagna
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - f62f8c33-addf-4f94-94da-01309c6fdcbd
    body:
      encoding: US-ASCII
      string: ! '{"attribution":{"html":"<a href=''http://www.yummly.com/recipes/lasagna''>lasagna
        recipes</a> search powered by <img alt=''Yummly'' src=''http://static.yummly.com/api-logo.png''/>","url":"http://www.yummly.com/recipes/lasagna","text":"lasagna
        recipes: search powered by Yummly","logo":"http://static.yummly.com/api-logo.png"},"totalMatchCount":3543,"facetCounts":{},"matches":[{"attributes":{"course":["Main
        Dishes"],"cuisine":["Italian"]},"flavors":{"salty":1.0,"sour":0.5,"sweet":0.8333333333333334,"bitter":0.8333333333333334,"meaty":1.0,"piquant":0.0},"rating":5,"id":"World_s-Best-Lasagna-Allrecipes","smallImageUrls":["http://i2.yummly.com/World_s-Best-Lasagna-Allrecipes-1.s.png","http://i.yummly.com/World_s-Best-Lasagna-Allrecipes-68573.s.png"],"sourceDisplayName":"AllRecipes","totalTimeInSeconds":11700.0,"ingredients":["grated
        parmesan cheese","mozzarella cheese","lasagna noodles","tomato sauce","tomato
        paste","basil leaves","crushed garlic","ricotta cheese","water","lean ground
        beef","italian seasoning","minced onion","salt","salt","sweet italian sausage","black
        pepper","fresh parsley","white sugar","egg","fennel seeds","crushed tomatoes"],"recipeName":"World''s
        Best Lasagna"},{"attributes":{"course":["Main Dishes"],"cuisine":["Italian"]},"flavors":{"salty":1.0,"sour":0.0,"sweet":0.16666666666666666,"bitter":0.8333333333333334,"meaty":1.0,"piquant":0.0},"rating":5,"id":"Slow-cooker-pesto-spinach-lasagna-310218","smallImageUrls":["http://i.yummly.com/Slow-cooker-pesto-spinach-lasagna-310218-274671.s.jpg"],"sourceDisplayName":"A
        Year of Slow Cooking","totalTimeInSeconds":null,"ingredients":["baby spinach","pesto","grated
        [...]
