<h1 class="row">Welcome</h1>
	<div class="row">
		<div class="span2">
			<div class="offset1">
				<div class="offset2">
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="bottom-row">
			</div>
		</div>

