<div class="container">
	<div class="row inner-banner-row">
		<h1 class="heading">Welcome
			<p>Top Notch Recipes Secretly Taken From Grandmas Recipe Book</p>
		</h1>
		<div class="chicken-image"><%= image_tag("chicken-parmigiana-13.jpg") %></div>
	</div>
</div>

<h4 class="newest-recipies">Recently Added</h4>
	<div class="h4-border-div"></div>
		<div class="newest-recipies row-fluid">
			<% @recipes.each do |recipe| %>
				<div class="recipe-title span4">
					<%= recipe.title %> :<br>
					<%= recipe.description %><br>
				</div>
			<% end %>
		</div>