<div class="row inner-banner-row">
	<h1 class="heading">Welcome
		<p>Top Notch Recipes Secretly Taken From Grandmas Recipe Book</p>
	</h1>
	<div class="chicken-image">
		<%= image_tag("chicken-parmigiana-13.jpg") %>
	</div>
</div>

<h3 class="newest-recipes">Recent Recipes</h3>
<div class="h4-border-div"></div>

<div class="row">
	<% @recipes.each do |recipe| %>
		<div class="recipe-title span3">
			<h4>
				<%= recipe.title %> :<br>
			</h4>
			<h5>
				<%= recipe.description %><br>
			</h5>

		</div>
	<% end %>
</div>
