---
http_interactions:
- request:
    method: get
    uri: http://api.yummly.com/v1/api/recipes?_app_id=4b0aee5d&_app_key=53ec12be3b85d0086a735dba82e215e2&q=lasagna
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - dc48f2d0-e9cb-474a-968c-9aeaca9987e4
    body:
      encoding: US-ASCII
      string: ! '{"attribution":{"html":"<a href=''http://www.yummly.com/recipes/lasagna''>lasagna
        recipes</a> search powered by <img alt=''Yummly'' src=''http://static.yummly.com/api-logo.png''/>","url":"http://www.yummly.com/recipes/lasagna","text":"lasagna
        recipes: search powered by Yummly","logo":"http://static.yummly.com/api-logo.png"},"totalMatchCount":3543,"facetCounts":{},"matches":[{"attributes":{"course":["Main
        Dishes"],"cuisine":["Italian"]},"flavors":{"salty":1.0,"sour":0.5,"sweet":0.8333333333333334,"bitter":0.8333333333333334,"meaty":1.0,"piquant":0.0},"rating":5,"id":"World_s-Best-Lasagna-Allrecipes","smallImageUrls":["http://i2.yummly.com/World_s-Best-Lasagna-Allrecipes-1.s.png","http://i.yummly.com/World_s-Best-Lasagna-Allrecipes-68573.s.png"],"sourceDisplayName":"AllRecipes","totalTimeInSeconds":11700.0,"ingredients":["white
        sugar","fennel seeds","egg","basil leaves","ricotta cheese","sweet italian
        sausage","salt","lean ground beef","black pepper","italian seasoning","minced
        onion","grated parmesan cheese","fresh parsley","mozzarella cheese","lasagna
        noodles","crushed tomatoes","salt","crushed garlic","tomato sauce","water","tomato
        paste"],"recipeName":"World''s Best Lasagna"},{"attributes":{"course":["Main
        Dishes"],"cuisine":["Italian"]},"flavors":{"salty":0.8333333333333334,"sour":0.6666666666666666,"sweet":0.5,"bitter":0.8333333333333334,"meaty":0.6666666666666666,"piquant":0.0},"rating":5,"id":"White-Cheese-Chicken-Lasagna-Allrecipes","smallImageUrls":["http://i2.yummly.com/White-Cheese-Chicken-Lasagna-Allrecipes-2.s.png","http://i.yummly.com/White-Cheese-Chicken-Lasagna-Allrecipes-73236.s.png"],"sourceDisplayName":"AllRecipes","to[...]
- request:
    method: get
    uri: http://api.yummly.com/v1/api/recipes?_app_id=4b0aee5d&_app_key=53ec12be3b85d0086a735dba82e215e2&q=lasagna&requirePictures=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - 99d9cff7-b63d-4e3c-bd5e-3348a690d98a
    body:
      encoding: US-ASCII
      string: ! '{"attribution":{"[...]
[...]
