header {
	height: 100px;
	width:1956px;

}

div.user-nav {
padding: 20px;


}

h1.row {
	text-align: center;
	width: 1956px;

}

.navbar ul li {
	list-style: none;

	form .navbar-search {
		margin:10px 10px 10px 10px;
		padding: 8px 20px 8px 8px


	}
}
	

button.btn.btn-success {
	
	margin: 0px 0px 12px 5px;
}


h1 {
	background-color: pink;
	height:100px;
	width: 1454px;
	padding: 30px;

}

div.row {
	background-color: antiquewhite;
	height:450px;
	width: 1956px;
	padding: 30px;


	div.bottom-row {
		background-color: lightblue;
		height:200px;
		width:1956px;

	}

}