header {
	height: 100px;
	width:100%;
}

div.welcome-sign-in {
	padding-top:30px;

}

div.user-nav {
	padding: 20px;
}

div.welcome-sign-in {
	padding-bottom:10px;
	text-style:bold;
}

div.chicken-image img {
	border:2px solid black;
	margin-left: 50px;
	border-radius: 25px;
	max-width: 40%;

}


h1.row {
	text-align: center;
	width: 100%;
}

h1.heading {
	font-family:"Courier New", Courier, monospace;
	text-align:center;

	p {
		font-size: 14pt;
	}
}

div.h4-border-div {
	height:5px;
	background-color:black;	
}

h3.newest-recipes {
	font-weight: bold;
	padding:5px;
	font-size: 20pt;
	text-align: center;
}

div.row-fluid {
	margin-top:30px;
	width: 100%;
	margin-left: 235px;
}

.navbar ul li {
	list-style: none;

	form .navbar-search {
		margin:10px 10px 10px 10px;
		padding: 8px 20px 8px 8px;
	}
}

h1.heading {


}

h1 {
	text-align:center;
	height:55px;
	width: 100%;
	padding: 30px;

}

div.inner-banner-row {
	border-width: 3px;
	border-style: solid dashed solid dashed;
	background-color: #447294;
	height:450px;
	width: 100%;
	padding: 30px;

	div.bottom-row {
		background-color: lightblue;
		height:200px;
		width:100%;
	}
}

.recipe-title.span3 {
	width:300px;
}

