
div.recipe-fields {
	width: 25%;
	box-shadow: 1px grey;
	text-align: center;
	display:inline-block;
	border: solid black 2px;
	margin-left:40%;

}

div.add-comment {
	border: solid black;
	height:250px;
	width:250px;


	.comment-box {



		}
	}