.recipe-search-recipe-title {
	color:blue;
}
.recipe-description-container {
	padding-top: 10px;
}

.search-recipe-description {
	border-bottom: 1px dotted black;

}

div.recipe-fields {
	width: 25%;
	box-shadow: 1px grey;
	text-align: center;
	display:inline-block;
	margin-left:40%;
}

div.comment-container {
	text-align:center;
	height:225px;
	width:250px;
}

#recipe-description-container {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: black dotted 1px;
	border-bottom: black dotted 1px;

	p {
		font-weight: bold;
	}
}

#container {
	padding:50px;

}

.comment-user {
	border-bottom: black dotted 1px;
}

.comment-body {
	border-bottom: black dotted 1px;
	padding: 5px;
}

.comment {
	padding-top: 8px;
}

.button-div {
	padding-left: 6%;
}

body {
	font-family: 'Source Sans Pro';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bitter';
}

body {
	background-image: url('../retina_wood.png');
}

p.alert {
	background-color: black;

}