
div.recipe-fields {
	width: 25%;
	box-shadow: 1px grey;
	text-align: center;
	display:inline-block;
	margin-left:40%;
}

div.comment-container {
	text-align:center;
	border: solid black 1px;
	height:225px;
	width:250px;
}

#recipe-description-container {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: black dotted 1px;
	border-bottom: black dotted 1px;

	p {
		font-weight: bold;

	}

}
